body {
    background: #fff;
}
#main{

}
#header{
    padding: 20px 0px;
    margin-bottom: 20px;
    border-bottom: 1px #f3f6f9 solid;
    position: relative;
}
#header .logo{
    font-size: 30px;
    font-weight: 900;
}
#header .logo img{}
.card-body {
    -webkit-box-flex: 1;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    min-height: 1px;
    padding: 0;
}
.title-box-search{
    display: flex;
    align-items: center;
    margin-bottom: 30px;
    padding: 0;
}
.title-box-search img{
    margin-right: 20px;
}
.title-box-search p{
    font-size: 17px;
    font-weight: 600;
    margin-bottom: 0px;
}
.submit_div{
    display: flex;
    align-items: center;
    height: 100%;
}

.submit_div .btn.btn-success{
    color: #ffffff;
    background-color: #1bc52c;
    border-color: #1bc52c;
}
.choose_type_user{
    margin-bottom: 30px;
}
.type_user{

}
.btn-mix-1{
    background: linear-gradient(149.31deg, #125BE4 24.23%, #16ACC7 94.28%);
    box-shadow: 0px 4px 10px rgb(19 92 229 / 15%);
}
header .menu {
    float: right;
}
header .menu ul {
    padding: 0px;
}
header .menu ul li {
    list-style: none;
    float: left;
    padding-left: 10px;
}
header .menu ul li a.btn {
    font-size: 14px;
    padding: 12px 20px;
    gap: 10px;
}
header .menu ul li a.btn-blue {
    background: linear-gradient(149.31deg, #e41212 24.23%, #c76016 94.28%);
    box-shadow: 0px 4px 10px rgb(19 92 229 / 15%);
    color: white;
    border: 1px #c76016 solid;
}
.info_footer{
    padding: 20px 0px;
}


.icon-bar {
    display: none;
    width: 20px;
    height: 20px;
    background: transparent;
    position: absolute;
    top:33px;
    right: 10px;
    justify-content: flex-start;
    align-items: center;
    z-index: 999999999;
}
.icon-bar span {
    width: 21px;
    height: 2px;
    background: #000000;
    display: block;
    position: relative;
    transition: all .4s;
}
.icon-bar span:before, .icon-bar span:after {
    content: "";
    width: 100%;
    height: 2px;
    background: #000000;
    position: absolute;
    transition: all .4s;
}
.icon-bar span:before {
    top: -6px;
    width: 20px;
}
.icon-bar span:after {
    bottom: -6px;
}
#wrap-menu {
    opacity: 0;
    width: 1px;
    height: 0px;
}

.auth-form{
    max-width: 500px;
    margin: 0 auto;
}

.auth-form .form-group label {
    font-size: 1rem;
    font-weight: 400;
    color: #3F4254;
    align-items: baseline;
}

.btn.btn-outline:not(.btn-outline-dashed) {
    border: 1px solid #E1E3EA;
}
.height-100{
    height: 100%;
}

.col-xs-15,
.col-sm-15,
.col-md-15,
.col-lg-15 {
    position: relative;
    min-height: 1px;
    padding-right: 10px;
    padding-left: 10px;
}

.col-xs-15 {
    width: 20%;
    max-width: 20%;
    float: left;
}
@media (min-width: 768px) {
    .col-sm-15 {
        width: 20%;
        max-width: 20%;
        float: left;
    }
}
@media (min-width: 992px) {
    .col-md-15 {
        width: 20%;
        max-width: 20%;
        float: left;
    }
}
@media (min-width: 1200px) {
    .col-lg-15 {
        width: 20%;
        max-width: 20%;
        float: left;
    }
}

.list-filter{
    margin-bottom: 30px;
}

.list-ungvien{}
.list-ungvien .item{
    display: flex;
}
.list-ungvien .item .img{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 200px;
    margin-right: 20px;
}
.list-ungvien .item .img img{
    border-radius: 5px;
    width: auto;
    max-width: 100%;
    height: auto;
    transition: all .3s;
}
.list-ungvien .item .info p{}
.content_post{
    padding: 2rem 2.25rem;
    -webkit-box-shadow: 0px 0px 30px 0px rgba(82, 63, 105, 0.05);
    box-shadow: 0px 0px 30px 0px rgba(82, 63, 105, 0.05);
    border: 0;
    margin-bottom: 30px;
}
.content_post .head{}
.content_post .head h1{
    font-size: 23px;
    font-weight: 700;
}
.content_post .head p{
    margin-bottom: 4px;
    font-size: 12px;
}

.content_post .detail{
    padding: 20px 0px;
    font-size: 13px;
}
.content_post .detail p{
    margin-bottom: 5px;
}
.content_post .detail h2.tit_detail_post{
    font-size: 14px;
    margin-top: 15px;
    font-weight: 600;
}

.thong_tin .card-body{
    padding: 20px;
}