
@media (max-width:1366px) {

}

@media (max-width:1200px) {

}

@media (max-width:1080px) {

}

@media (min-width: 769px) and (max-width: 1024px) {

}

@media (max-width:1024px) {

}

@media (max-width:768px) {
    .icon-bar {
        display: block;
    }
    header .menu {
        DISPLAY: none;
    }

    nav#wrap-menu {
        position: fixed;
        left: 0;
        top: 0;
        flex-direction: column;
        justify-content: flex-start;
        width: 100%;
        height: 100vh;
        background: #ffffff ;
        overflow: scroll;
        padding-bottom: 50px;
        transform: translateX(-100%);
        transition: all .4s;
        z-index: 9999;
    }
    header nav#wrap-menu ul {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding-top: 100px;
        padding-left: 0px;
    }
    header nav#wrap-menu ul li a {
        color: #7E7E7E;
        font-weight: 600;
        font-size: 14px;
    }
    header nav#wrap-menu ul li {
        padding-top: 5px;
        padding-bottom: 0px;
        list-style: none;
        text-align: center;
    }
    header nav#wrap-menu ul li a {
        color: black;
    }
    nav#wrap-menu.active {
        transform: translateX(0);
        padding-left: 0px;
        opacity: 1;
    }

    .icon-bar.active span {
        background: transparent;
    }
    .icon-bar.active span:before {
        top: 0;
        transform: rotate(45deg);
        background: black;
    }
    .icon-bar.active span:after {
        top: 0;
        transform: rotate(-45deg);
        background: black;
        width: 20px;
    }
}

@media (max-width:576px) {
    #header .logo {
        font-size: 20px;
    }

    .form-control {
        margin-bottom: 10px;
    }
    .form-group {
        margin-bottom: 0px;
    }
}


@media (min-width:1080px) {




}