<!doctype html>
<html lang="en">
<meta http-equiv="content-type" content="text/html;charset=UTF-8"/>
<head>
    <meta name="_token" content="{{ csrf_token() }}">
    <meta name="csrf-token" content="{{ csrf_token() }}">

    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Đại học Quảng Bình">
    <meta name="keywords" content="Đại học Quảng Bình">
    <meta name="author" content="pixelstrap">
    <title></title>
    <!--begin::Fonts-->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700"/>
    <!--end::Fonts-->
    <!--begin::Page Vendors Styles(used by this page)-->
    <link href="assets/plugins/custom/fullcalendar/fullcalendar.bundle5883.css?v=7.2.9"
          rel="stylesheet" type="text/css"/>
    <!--end::Page Vendors Styles-->
    <!--begin::Global Theme Styles(used by all pages)-->
    <link href="assets/plugins/global/plugins.bundle5883.css?v=7.2.9" rel="stylesheet"
          type="text/css"/>
    <link href="assets/plugins/custom/prismjs/prismjs.bundle5883.css?v=7.2.9"
          rel="stylesheet" type="text/css"/>
    <link href="assets/css/style.bundle5883.css?v=7.2.9" rel="stylesheet"
          type="text/css"/>
    <link href="assets/css/themes/layout/header/base/light5883.css?v=7.2.9"
          rel="stylesheet" type="text/css"/>
    <link href="assets/css/themes/layout/header/menu/light5883.css?v=7.2.9"
          rel="stylesheet" type="text/css"/>
    <link href="assets/css/themes/layout/brand/dark5883.css?v=7.2.9" rel="stylesheet"
          type="text/css"/>
    <link href="assets/css/themes/layout/aside/dark5883.css?v=7.2.9" rel="stylesheet"
          type="text/css"/>        <!--end::Layout Themes-->

    <link rel="stylesheet" type="text/css" href="css/main.css">
    <link rel="stylesheet" type="text/css" href="css/responsive.css">
</head>
<body>
<header id="header">
    <div class="icon-bar">
        <span></span>
    </div>
    <nav id="wrap-menu">
        <ul>
            <li>
                <a href="#" class="btn btn-blue ">ĐĂNG NHẬP</a>
            </li>
            <li>
                <a href="#" class="btn btn-blue ">ĐĂNG KÝ</a>
            </li>
        </ul>
    </nav>
    <div class="container">
        <div class="row">
            <div class="col-md-3 col-sm-3">
                <div class="logo">
                    LOGO CÔNG TY
                </div>
            </div>
            <div class="col-md-9 col-sm-9">
                <div class="menu">
                    <ul>
                        <li>
                            <a href="#" class="btn btn-blue ">ĐĂNG NHẬP</a>
                        </li>
                        <li>
                            <a href="#" class="btn btn-blue ">ĐĂNG KÝ</a>
                        </li>
                    </ul>
                </div>

            </div>
        </div>
    </div>
</header>
<div id="main">
    <div class="container">
        <div class="list-filter">
            <div class="row">
                <div class="col-md-10 col-sm-10">
                    <div class="row">
                        <div class="col-md-15 col-sm-4 col-6">
                            <select class="form-control">
                                <option>Ngành nghề</option>
                                <option>1</option>
                                <option>2</option>
                                <option>3</option>
                            </select>
                        </div>
                        <div class="col-md-15 col-sm-4 col-6">
                            <select class="form-control">
                                <option>Ngành nghề</option>
                                <option>1</option>
                                <option>2</option>
                                <option>3</option>
                            </select>
                        </div>
                        <div class="col-md-15 col-sm-4 col-6">
                            <select class="form-control">
                                <option>Ngành nghề</option>
                                <option>1</option>
                                <option>2</option>
                                <option>3</option>
                            </select>
                        </div>
                        <div class="col-md-15 col-sm-4 col-6">
                            <select class="form-control">
                                <option>Ngành nghề</option>
                                <option>1</option>
                                <option>2</option>
                                <option>3</option>
                            </select>
                        </div>
                        <div class="col-md-15 col-sm-4 col-6">
                            <select class="form-control">
                                <option>Ngành nghề</option>
                                <option>1</option>
                                <option>2</option>
                                <option>3</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="col-md-2 col-sm-2">
                    <div class="d-flex align-content-center height-100">
                        <button type="submit" class="btn btn-sm btn-success">Tìm kiếm</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="content_post">
            <div class="head">
                <h1>Tuyển Chuyên Viên Kinh Doanh</h1>
                <p>Lượt xem: 337</p>
                <p>Cập nhật: 04/05/2023 (5 giờ trước)</p>
                <p>Ngành nghề: <span class="badge badge-light">Bảo Hiểm</span> <span class="badge badge-light">Nhân Viên Kinh Doanh</span>
                </p>

                <div class="group-bt mt-4 mb-4">
                    <a href="#" class="btn btn-primary btn-sm mr-3">
                    <span class="svg-icon">
                        <svg
                                xmlns="http://www.w3.org/2000/svg"
                                width="24px" height="24px" viewBox="0 0 24 24" version="1.1">
                        <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                            <rect x="0" y="0" width="24" height="24"></rect>
                            <path d="M6,2 L18,2 C18.5522847,2 19,2.44771525 19,3 L19,12 C19,12.5522847 18.5522847,13 18,13 L6,13 C5.44771525,13 5,12.5522847 5,12 L5,3 C5,2.44771525 5.44771525,2 6,2 Z M7.5,5 C7.22385763,5 7,5.22385763 7,5.5 C7,5.77614237 7.22385763,6 7.5,6 L13.5,6 C13.7761424,6 14,5.77614237 14,5.5 C14,5.22385763 13.7761424,5 13.5,5 L7.5,5 Z M7.5,7 C7.22385763,7 7,7.22385763 7,7.5 C7,7.77614237 7.22385763,8 7.5,8 L10.5,8 C10.7761424,8 11,7.77614237 11,7.5 C11,7.22385763 10.7761424,7 10.5,7 L7.5,7 Z"
                                  fill="#000000" opacity="0.3"></path>
                            <path d="M3.79274528,6.57253826 L12,12.5 L20.2072547,6.57253826 C20.4311176,6.4108595 20.7436609,6.46126971 20.9053396,6.68513259 C20.9668779,6.77033951 21,6.87277228 21,6.97787787 L21,17 C21,18.1045695 20.1045695,19 19,19 L5,19 C3.8954305,19 3,18.1045695 3,17 L3,6.97787787 C3,6.70173549 3.22385763,6.47787787 3.5,6.47787787 C3.60510559,6.47787787 3.70753836,6.51099993 3.79274528,6.57253826 Z"
                                  fill="#000000"></path>
                        </g>
                    </svg>
                </span> Nộp đơn nhanh
                    </a>


                    <a href="#" class="btn btn-warning btn-sm mr-3">
                    <span class="svg-icon "><svg
                            xmlns="http://www.w3.org/2000/svg"
                            width="24px" height="24px" viewBox="0 0 24 24" version="1.1">
    <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
        <polygon points="0 0 24 0 24 24 0 24"/>
        <path d="M17,4 L6,4 C4.79111111,4 4,4.7 4,6 L4,18 C4,19.3 4.79111111,20 6,20 L18,20 C19.2,20 20,19.3 20,18 L20,7.20710678 C20,7.07449854 19.9473216,6.94732158 19.8535534,6.85355339 L17,4 Z M17,11 L7,11 L7,4 L17,4 L17,11 Z"
              fill="#000000" fill-rule="nonzero"/>
        <rect fill="#000000" opacity="0.3" x="12" y="4" width="3" height="5" rx="0.5"/>
    </g>
</svg><!--end::Svg Icon--></span> Lưu việc
                    </a>
                </div>
            </div>
            <div class="detail">
                <h2 class="tit_detail_post">MÔ TẢ CÔNG VIỆC</h2>
                <p>• Tìm kiếm khách hàng mới, tư vấn dịch vụ.</p>
                <p>• Thiết kế và tư vấn các kế hoạch tài chính của AIA tối ưu cho khách hàng, hỗ trợ làm hợp đồng cho các khách hàng có nhu cầu.
                </p>
                <p>• Chào đón khách hàng, tiếp nhận ý kiến và hỗ trợ khách hàng tại văn phòng (Customer services).</p>
                <p>• Hỗ trợ các event tổ chức tại văn phòng cũng như các khách hàng tham dự event.</p>
                <h2 class="tit_detail_post">YÊU CẦU</h2>
                <p>• Tìm kiếm khách hàng mới, tư vấn dịch vụ.</p>
                <p>• Thiết kế và tư vấn các kế hoạch tài chính của AIA tối ưu cho khách hàng, hỗ trợ làm hợp đồng cho các khách hàng có nhu cầu.
                </p>
                <p>• Chào đón khách hàng, tiếp nhận ý kiến và hỗ trợ khách hàng tại văn phòng (Customer services).</p>
                <p>• Hỗ trợ các event tổ chức tại văn phòng cũng như các khách hàng tham dự event.</p>
                <h2 class="tit_detail_post">QUYỀN LỢI</h2>
                <p>• Tìm kiếm khách hàng mới, tư vấn dịch vụ.</p>
                <p>• Thiết kế và tư vấn các kế hoạch tài chính của AIA tối ưu cho khách hàng, hỗ trợ làm hợp đồng cho các khách hàng có nhu cầu.
                </p>
                <p>• Chào đón khách hàng, tiếp nhận ý kiến và hỗ trợ khách hàng tại văn phòng (Customer services).</p>
                <p>• Hỗ trợ các event tổ chức tại văn phòng cũng như các khách hàng tham dự event.</p>
            </div>
        </div>
    </div>
</div>

<footer>
    <div class="info_footer">
        <div class="container">
            <div class="row">
                <div class="col-md-3 col-sm-3 col-12">
                    <p>Công ty : .............</p>
                </div>
                <div class="col-md-3 col-sm-3 col-12">
                    <p>Số điện thoại : 09661773xxxx</p>
                </div>
                <div class="col-md-3 col-sm-3 col-12">
                    <p>Zalo : 09661773xxxx</p>
                </div>
                <div class="col-md-3 col-sm-3 col-12">
                    <p>Fanpage : <a href="#">link fanpage</a></p>
                </div>
            </div>
        </div>
    </div>
</footer>

</body>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
<script src="js/main.js"></script>
<!--begin::Global Theme Bundle(used by all pages)-->
<script src="assets/plugins/global/plugins.bundle5883.js?v=7.2.9"></script>
<script src="assets/plugins/custom/prismjs/prismjs.bundle5883.js?v=7.2.9"></script>
<!--end::Global Theme Bundle-->
</html>
