<!doctype html>
<html lang="en">
<meta http-equiv="content-type" content="text/html;charset=UTF-8"/>
<head>
    <meta name="_token" content="{{ csrf_token() }}">
    <meta name="csrf-token" content="{{ csrf_token() }}">

    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Đại học Quảng Bình">
    <meta name="keywords" content="Đại học Quảng Bình">
    <meta name="author" content="pixelstrap">
    <title></title>
    <!--begin::Fonts-->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700"/>
    <!--end::Fonts-->
    <!--begin::Page Vendors Styles(used by this page)-->
    <link href="assets/plugins/custom/fullcalendar/fullcalendar.bundle5883.css?v=7.2.9"
          rel="stylesheet" type="text/css"/>
    <!--end::Page Vendors Styles-->
    <!--begin::Global Theme Styles(used by all pages)-->
    <link href="assets/plugins/global/plugins.bundle5883.css?v=7.2.9" rel="stylesheet"
          type="text/css"/>
    <link href="assets/plugins/custom/prismjs/prismjs.bundle5883.css?v=7.2.9"
          rel="stylesheet" type="text/css"/>
    <link href="assets/css/style.bundle5883.css?v=7.2.9" rel="stylesheet"
          type="text/css"/>
    <link href="assets/css/themes/layout/header/base/light5883.css?v=7.2.9"
          rel="stylesheet" type="text/css"/>
    <link href="assets/css/themes/layout/header/menu/light5883.css?v=7.2.9"
          rel="stylesheet" type="text/css"/>
    <link href="assets/css/themes/layout/brand/dark5883.css?v=7.2.9" rel="stylesheet"
          type="text/css"/>
    <link href="assets/css/themes/layout/aside/dark5883.css?v=7.2.9" rel="stylesheet"
          type="text/css"/>        <!--end::Layout Themes-->

    <link rel="stylesheet" type="text/css" href="css/main.css">
    <link rel="stylesheet" type="text/css" href="css/responsive.css">
</head>
<body>
<header id="header">
    <div class="icon-bar">
        <span></span>
    </div>
    <nav id="wrap-menu">
        <ul>
            <li>
                <a href="#" class="btn btn-blue ">ĐĂNG NHẬP</a>
            </li>
            <li>
                <a href="#" class="btn btn-blue ">ĐĂNG KÝ</a>
            </li>
        </ul>
    </nav>
    <div class="container">
        <div class="row">
            <div class="col-md-3 col-sm-3">
                <div class="logo">
                    LOGO CÔNG TY
                </div>
            </div>
            <div class="col-md-9 col-sm-9">
                <div class="menu">
                    <ul>
                        <li>
                            <a href="#" class="btn btn-blue ">ĐĂNG NHẬP</a>
                        </li>
                        <li>
                            <a href="#" class="btn btn-blue ">ĐĂNG KÝ</a>
                        </li>
                    </ul>
                </div>

            </div>
        </div>
    </div>
</header>
<div id="main">
    <div class="container">
        <div class="auth-form">
            <div class="login-form login-signup pt-11">
                <!--begin::Form-->
                <form class="form" novalidate="novalidate" id="kt_login_signup_form">
                    <!--begin::Title-->
                    <div class="text-center pb-6">
                        <h2 class="font-weight-bolder text-dark font-size-h2 font-size-h1-lg">Đăng ký</h2>
                        <p class="text-muted font-weight-bold font-size-h4">Chào mừng bạn đến với ...</p>
                    </div>
                    <!--end::Title-->

                    <div class="row g-3 mb-9">
                        <!--begin::Col-->
                        <div class="col-md-6 col-sm-6 col-6">
                            <!--begin::Google link--->
                            <a href="#" class="btn btn-flex btn-outline btn-text-gray-700 btn-active-color-primary bg-state-light flex-center text-nowrap w-100">
                                <img alt="Logo" src="images/google-icon.svg" class="h-15px me-3">
                                Sign in with Google
                            </a>
                        </div>
                        <!--end::Col-->

                        <!--begin::Col-->
                        <div class="col-md-6 col-sm-6 col-6">
                            <!--begin::Google link--->
                            <a href="#" class="btn btn-flex btn-outline btn-text-gray-700 btn-active-color-primary bg-state-light flex-center text-nowrap w-100">
                                <img alt="Logo" src="images/facebook.svg" class="theme-light-show h-15px me-3">
                                Sign in with Facebook
                            </a>
                        </div>
                        <!--end::Col-->
                    </div>

                    <!--begin::Form group-->
                    <div class="form-group">
                        <input class="form-control form-control-solid h-auto py-4 px-3 rounded-lg font-size-h6"
                               type="text" placeholder="Họ và tên" name="fullname" autocomplete="off"/>
                    </div>
                    <!--end::Form group-->
                    <!--begin::Form group-->
                    <div class="form-group">
                        <input class="form-control form-control-solid h-auto py-4 px-3 rounded-lg font-size-h6"
                               type="password" placeholder="Mật khẩu" name="fullname" autocomplete="off"/>
                    </div>
                    <!--end::Form group-->
                    <!--begin::Form group-->
                    <div class="form-group">
                        <input class="form-control form-control-solid h-auto py-4 px-3 rounded-lg font-size-h6"
                               type="email" placeholder="Số điện thoại" name="email" autocomplete="off"/>
                    </div>
                    <!--end::Form group-->
                    <!--begin::Form group-->
                    <div class="form-group">
                        <input class="form-control form-control-solid h-auto py-4 px-3 rounded-lg font-size-h6"
                               type="email" placeholder="Email" name="email" autocomplete="off"/>
                    </div>
                    <!--end::Form group-->

                    <!--begin::Form group-->
                    <div class="form-group">
                        <input class="form-control form-control-solid h-auto py-4 px-3 rounded-lg font-size-h6"
                               type="password" placeholder="Password" name="password" autocomplete="off"/>
                    </div>
                    <!--end::Form group-->

                    <!--begin::Form group-->
                    <div class="form-group">
                        <input class="form-control form-control-solid h-auto py-4 px-3 rounded-lg font-size-h6"
                               type="password" placeholder="Confirm password" name="cpassword"
                               autocomplete="off"/>
                    </div>
                    <!--end::Form group-->

                    <!--begin::Form group-->
                    <div class="form-group">
                        <label class="checkbox mb-0">
                            <input type="checkbox" name="agree"/>
                            <span></span>
                            <p class="ml-3">
                                Bằng việc đăng ký tài khoản, bạn đã đồng ý với
                                <a href="#">Điều khoản dịch vụ</a>
                                và
                                <a href="#">Chính sách</a>
                                của chúng tôi
                            </p>
                        </label>
                    </div>
                    <!--end::Form group-->

                    <!--begin::Form group-->
                    <div class="form-group d-flex flex-wrap flex-center pb-lg-0 pb-3">
                        <button type="button" id="kt_login_signup_submit"
                                class="btn btn-success font-weight-bolder font-size-h6 px-8 py-4 my-3 mx-4">
                            Đăng ký
                        </button>
                    </div>


                    <!--end::Form group-->
                </form>
                <!--end::Form-->
            </div>
        </div>
    </div>
</div>

<footer>
    <div class="info_footer">
        <div class="container">
            <div class="row">
                <div class="col-md-3 col-sm-3 col-12">
                    <p>Công ty : .............</p>
                </div>
                <div class="col-md-3 col-sm-3 col-12">
                    <p>Số điện thoại : 09661773xxxx</p>
                </div>
                <div class="col-md-3 col-sm-3 col-12">
                    <p>Zalo : 09661773xxxx</p>
                </div>
                <div class="col-md-3 col-sm-3 col-12">
                    <p>Fanpage : <a href="#">link fanpage</a></p>
                </div>
            </div>
        </div>
    </div>
</footer>

</body>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
<script src="js/main.js"></script>
<!--begin::Global Theme Bundle(used by all pages)-->
<script src="assets/plugins/global/plugins.bundle5883.js?v=7.2.9"></script>
<script src="assets/plugins/custom/prismjs/prismjs.bundle5883.js?v=7.2.9"></script>
<!--end::Global Theme Bundle-->
</html>
