<!doctype html>
<html lang="en">
<meta http-equiv="content-type" content="text/html;charset=UTF-8"/>
<head>
    <meta name="_token" content="{{ csrf_token() }}">
    <meta name="csrf-token" content="{{ csrf_token() }}">

    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Đại học Quảng Bình">
    <meta name="keywords" content="Đại học Quảng Bình">
    <meta name="author" content="pixelstrap">
    <title></title>
    <!--begin::Fonts-->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700"/>
    <!--end::Fonts-->
    <!--begin::Page Vendors Styles(used by this page)-->
    <link href="assets/plugins/custom/fullcalendar/fullcalendar.bundle5883.css?v=7.2.9"
          rel="stylesheet" type="text/css"/>
    <!--end::Page Vendors Styles-->
    <!--begin::Global Theme Styles(used by all pages)-->
    <link href="assets/plugins/global/plugins.bundle5883.css?v=7.2.9" rel="stylesheet"
          type="text/css"/>
    <link href="assets/plugins/custom/prismjs/prismjs.bundle5883.css?v=7.2.9"
          rel="stylesheet" type="text/css"/>
    <link href="assets/css/style.bundle5883.css?v=7.2.9" rel="stylesheet"
          type="text/css"/>
    <link href="assets/css/themes/layout/header/base/light5883.css?v=7.2.9"
          rel="stylesheet" type="text/css"/>
    <link href="assets/css/themes/layout/header/menu/light5883.css?v=7.2.9"
          rel="stylesheet" type="text/css"/>
    <link href="assets/css/themes/layout/brand/dark5883.css?v=7.2.9" rel="stylesheet"
          type="text/css"/>
    <link href="assets/css/themes/layout/aside/dark5883.css?v=7.2.9" rel="stylesheet"
          type="text/css"/>        <!--end::Layout Themes-->

    <link rel="stylesheet" type="text/css" href="css/main.css">
    <link rel="stylesheet" type="text/css" href="css/responsive.css">
</head>
<body>
<header id="header">
    <div class="icon-bar">
        <span></span>
    </div>
    <nav id="wrap-menu">
        <ul>
            <li>
                <a href="#" class="btn btn-blue ">ĐĂNG NHẬP</a>
            </li>
            <li>
                <a href="#" class="btn btn-blue ">ĐĂNG KÝ</a>
            </li>
        </ul>
    </nav>
    <div class="container">
        <div class="row">
            <div class="col-md-3 col-sm-3">
                <div class="logo">
                    LOGO CÔNG TY
                </div>
            </div>
            <div class="col-md-9 col-sm-9">
                <div class="menu">
                    <ul>
                        <li>
                            <a href="#" class="btn btn-blue ">ĐĂNG NHẬP</a>
                        </li>
                        <li>
                            <a href="#" class="btn btn-blue ">ĐĂNG KÝ</a>
                        </li>
                    </ul>
                </div>

            </div>
        </div>
    </div>
</header>
<div id="main">
    <div class="container">
        <div class="thong_tin">
            <div class="card card-custom gutter-b example example-compact">
                <div class="card-header">
                    <h3 class="card-title">
                        Cập nhật thông tin ứng viên
                    </h3>
                </div>
                <!--begin::Form-->
                <form class="form">
                    <div class="card-body">
                        <div class="form-group row">
                            <div class="col-lg-4">
                                <label>Họ và tên:</label>
                                <input type="email" class="form-control" placeholder="Họ và tên">
                                <span class="form-text text-muted">Xin vui lòng nhập họ và tên</span>
                            </div>
                            <div class="col-lg-4">
                                <label>Email:</label>
                                <input type="email" class="form-control" placeholder="Enter email">
                                <span class="form-text text-muted">Xin vui lòng nhập email</span>
                            </div>
                            <div class="col-lg-4">
                                <label>Số điện thoại:</label>
                                <div class="input-group">
                                    <div class="input-group-prepend"><span class="input-group-text"><i
                                            class="la la-phone"></i></span></div>
                                    <input type="text" class="form-control" placeholder="">
                                </div>
                                <span class="form-text text-muted">Xin vui lòng nhập số điện thoại</span>
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col-lg-4">
                                <label>Ngày sinh:</label>
                                <div class="input-group">
                                    <div class="input-group-prepend"><span class="input-group-text"><i
                                            class="la la-calendar"></i></span></div>
                                    <input type="date" class="form-control" placeholder="">
                                </div>
                                <span class="form-text text-muted">Xin vui lòng nhập số ngày sinh</span>
                            </div>

                            <div class="col-lg-4">
                                <label>Địa chỉ:</label>
                                <div class="input-group">
                                    <div class="input-group-prepend"><span class="input-group-text"><i
                                            class="la la-map-marker"></i></span></div>
                                    <input type="date" class="form-control" placeholder="">
                                </div>
                                <span class="form-text text-muted">Xin vui lòng nhập địa chỉ</span>
                            </div>
                            <div class="col-lg-4">
                                <label>Giới tính:</label>
                                <div class="radio-inline">
                                    <label class="radio radio-solid">
                                        <input type="radio" name="example_2" checked="checked" value="2">
                                        <span></span>
                                        Nam
                                    </label>
                                    <label class="radio radio-solid">
                                        <input type="radio" name="example_2" value="2">
                                        <span></span>
                                        Nữ
                                    </label>
                                </div>
                                <span class="form-text text-muted">Bạn hãy chọn giới tính</span>
                            </div>

                        </div>
                        <div class="form-group row">
                            <div class="col-lg-4">
                                <label>Thành phố:</label>
                                <div class="input-group">
                                    <select class="form-control">
                                        <option>Chọn</option>
                                        <option>1</option>
                                        <option>2</option>
                                        <option>3</option>
                                    </select>
                                </div>
                                <span class="form-text text-muted">Chọn thành phố của bạn</span>
                            </div>
                            <div class="col-lg-4">
                                <label>Quận huyện:</label>
                                <div class="input-group">
                                    <select class="form-control">
                                        <option>Chọn</option>
                                        <option>1</option>
                                        <option>2</option>
                                        <option>3</option>
                                    </select>
                                </div>
                                <span class="form-text text-muted">Chọn quận huyện của bạn</span>
                            </div>
                            <div class="col-lg-4">
                                <label>Thị xã:</label>
                                <div class="input-group">
                                    <select class="form-control">
                                        <option>Chọn</option>
                                        <option>1</option>
                                        <option>2</option>
                                        <option>3</option>
                                    </select>
                                </div>
                                <span class="form-text text-muted">Chọn thị xã của bạn</span>
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col-lg-6">
                                <label>Facebook của bạn:</label>
                                <div class="input-group">
                                    <input type="text" class="form-control" placeholder="Link FB">
                                </div>
                                <span class="form-text text-muted">Nhập link Facebook của bạn</span>
                            </div>

                            <div class="col-lg-6">
                                <label>CV của bạn:</label>
                                <div class="input-group">
                                    <input type="file" class="form-control" placeholder="Link FB">
                                </div>
                                <span class="form-text text-muted">Tải file cv của bạn : pdf, doc, docx</span>
                            </div>
                        </div>
                    </div>
                    <div class="card-footer">
                        <div class="row">
                            <div class="col-lg-4"></div>
                            <div class="col-lg-8">
                                <button type="reset" class="btn btn-primary mr-2">Lưu thông tin</button>
                                <button type="reset" class="btn btn-secondary">Hủy</button>
                            </div>
                        </div>
                    </div>
                </form>
                <!--end::Form-->
            </div>
        </div>
    </div>
</div>

<footer>
    <div class="info_footer">
        <div class="container">
            <div class="row">
                <div class="col-md-3 col-sm-3 col-12">
                    <p>Công ty : .............</p>
                </div>
                <div class="col-md-3 col-sm-3 col-12">
                    <p>Số điện thoại : 09661773xxxx</p>
                </div>
                <div class="col-md-3 col-sm-3 col-12">
                    <p>Zalo : 09661773xxxx</p>
                </div>
                <div class="col-md-3 col-sm-3 col-12">
                    <p>Fanpage : <a href="#">link fanpage</a></p>
                </div>
            </div>
        </div>
    </div>
</footer>

</body>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
<script src="js/main.js"></script>
<!--begin::Global Theme Bundle(used by all pages)-->
<script src="assets/plugins/global/plugins.bundle5883.js?v=7.2.9"></script>
<script src="assets/plugins/custom/prismjs/prismjs.bundle5883.js?v=7.2.9"></script>
<!--end::Global Theme Bundle-->
</html>
