<!doctype html>
<html lang="en">
<meta http-equiv="content-type" content="text/html;charset=UTF-8"/>
<head>
    <meta name="_token" content="{{ csrf_token() }}">
    <meta name="csrf-token" content="{{ csrf_token() }}">

    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Đại học Quảng Bình">
    <meta name="keywords" content="Đại học Quảng Bình">
    <meta name="author" content="pixelstrap">
    <title></title>
    <!--begin::Fonts-->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700"/>
    <!--end::Fonts-->
    <!--begin::Page Vendors Styles(used by this page)-->
    <link href="assets/plugins/custom/fullcalendar/fullcalendar.bundle5883.css?v=7.2.9"
          rel="stylesheet" type="text/css"/>
    <!--end::Page Vendors Styles-->
    <!--begin::Global Theme Styles(used by all pages)-->
    <link href="assets/plugins/global/plugins.bundle5883.css?v=7.2.9" rel="stylesheet"
          type="text/css"/>
    <link href="assets/plugins/custom/prismjs/prismjs.bundle5883.css?v=7.2.9"
          rel="stylesheet" type="text/css"/>
    <link href="assets/css/style.bundle5883.css?v=7.2.9" rel="stylesheet"
          type="text/css"/>
    <link href="assets/css/themes/layout/header/base/light5883.css?v=7.2.9"
          rel="stylesheet" type="text/css"/>
    <link href="assets/css/themes/layout/header/menu/light5883.css?v=7.2.9"
          rel="stylesheet" type="text/css"/>
    <link href="assets/css/themes/layout/brand/dark5883.css?v=7.2.9" rel="stylesheet"
          type="text/css"/>
    <link href="assets/css/themes/layout/aside/dark5883.css?v=7.2.9" rel="stylesheet"
          type="text/css"/>        <!--end::Layout Themes-->

    <link rel="stylesheet" type="text/css" href="css/main.css">
    <link rel="stylesheet" type="text/css" href="css/responsive.css">
</head>
<body>
<header id="header">
    <div class="icon-bar">
        <span></span>
    </div>
    <nav id="wrap-menu">
        <ul>
            <li>
                <a href="#" class="btn btn-blue ">ĐĂNG NHẬP</a>
            </li>
            <li>
                <a href="#" class="btn btn-blue ">ĐĂNG KÝ</a>
            </li>
        </ul>
    </nav>
    <div class="container">
        <div class="row">
            <div class="col-md-3 col-sm-3">
                <div class="logo">
                    LOGO CÔNG TY
                </div>
            </div>
            <div class="col-md-9 col-sm-9">
                <div class="menu">
                    <ul>
                        <li>
                            <a href="#" class="btn btn-blue ">ĐĂNG NHẬP</a>
                        </li>
                        <li>
                            <a href="#" class="btn btn-blue ">ĐĂNG KÝ</a>
                        </li>
                    </ul>
                </div>

            </div>
        </div>
    </div>
</header>
<div id="main">
    <div class="container">
        <form class="form">
            <div class="row">
                <div class="col-md-12">
                    <div class="choose_type_user">
                        <div class="row">
                            <div class="col-md-2 col-6">
                                <div class="type_user">
                                    <div class="checkbox-inline">
                                        <label class="checkbox checkbox-lg checkbox-outline checkbox-success">
                                            <input type="radio" checked="checked" name="Checkboxes3_1"/>
                                            <span></span>
                                            Nhà tuyển dụng
                                        </label>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-2 col-6">
                                <div class="type_user">
                                    <div class="checkbox-inline">
                                        <label class="checkbox checkbox-lg checkbox-outline checkbox-success">
                                            <input type="radio" name="Checkboxes3_1"/>
                                            <span></span>
                                            Ứng viên
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="title-box-search">
                        <img src="images/seo.png">
                        <p>Tìm kiếm công việc mơ ước</p>
                    </div>
                </div>
                <div class="col-md-9 col-sm-9">
                    <div class="card-body">
                        <div class="form-group row">
                            <div class="col-lg-6">
                                <select class="form-control">
                                    <option>Ngành nghề</option>
                                    <option>1</option>
                                    <option>2</option>
                                    <option>3</option>
                                </select>
                            </div>
                            <div class="col-lg-6">
                                <select class="form-control">
                                    <option>Tỉnh</option>
                                    <option>1</option>
                                    <option>2</option>
                                    <option>3</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col-lg-6">
                                <select class="form-control">
                                    <option>Hình thức làm việc</option>
                                    <option>1</option>
                                    <option>2</option>
                                    <option>3</option>
                                </select>
                            </div>
                            <div class="col-lg-6">
                                <select class="form-control">
                                    <option>Mức lương</option>
                                    <option>1</option>
                                    <option>2</option>
                                    <option>3</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col-lg-6">
                                <select class="form-control">
                                    <option>Cấp bậc</option>
                                    <option>1</option>
                                    <option>2</option>
                                    <option>3</option>
                                </select>
                            </div>
                            <div class="col-lg-6">
                                <select class="form-control">
                                    <option>ABC</option>
                                    <option>1</option>
                                    <option>2</option>
                                    <option>3</option>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-sm-3">
                    <div class="submit_div">
                        <button type="submit" class="btn btn-success">Tìm kiếm</button>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>

<footer>
    <div class="info_footer">
        <div class="container">
            <div class="row">
                <div class="col-md-3 col-sm-3 col-12">
                    <p>Công ty  : .............</p>
                </div>
                <div class="col-md-3 col-sm-3 col-12">
                    <p>Số điện thoại  : 09661773xxxx</p>
                </div>
                <div class="col-md-3 col-sm-3 col-12">
                    <p>Zalo  : 09661773xxxx</p>
                </div>
                <div class="col-md-3 col-sm-3 col-12">
                    <p>Fanpage  : <a href="#">link fanpage</a></p>
                </div>
            </div>
        </div>
    </div>
</footer>

</body>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
<script src="js/main.js"></script>
<!--begin::Global Theme Bundle(used by all pages)-->
<script src="assets/plugins/global/plugins.bundle5883.js?v=7.2.9"></script>
<script src="assets/plugins/custom/prismjs/prismjs.bundle5883.js?v=7.2.9"></script>
<!--end::Global Theme Bundle-->
</html>
