<!doctype html>
<html lang="en">
<meta http-equiv="content-type" content="text/html;charset=UTF-8"/>
<head>
    <meta name="_token" content="{{ csrf_token() }}">
    <meta name="csrf-token" content="{{ csrf_token() }}">

    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Đại học Quảng Bình">
    <meta name="keywords" content="Đại học Quảng Bình">
    <meta name="author" content="pixelstrap">
    <title></title>
    <!--begin::Fonts-->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700"/>
    <!--end::Fonts-->
    <!--begin::Page Vendors Styles(used by this page)-->
    <link href="assets/plugins/custom/fullcalendar/fullcalendar.bundle5883.css?v=7.2.9"
          rel="stylesheet" type="text/css"/>
    <!--end::Page Vendors Styles-->
    <!--begin::Global Theme Styles(used by all pages)-->
    <link href="assets/plugins/global/plugins.bundle5883.css?v=7.2.9" rel="stylesheet"
          type="text/css"/>
    <link href="assets/plugins/custom/prismjs/prismjs.bundle5883.css?v=7.2.9"
          rel="stylesheet" type="text/css"/>
    <link href="assets/css/style.bundle5883.css?v=7.2.9" rel="stylesheet"
          type="text/css"/>
    <link href="assets/css/themes/layout/header/base/light5883.css?v=7.2.9"
          rel="stylesheet" type="text/css"/>
    <link href="assets/css/themes/layout/header/menu/light5883.css?v=7.2.9"
          rel="stylesheet" type="text/css"/>
    <link href="assets/css/themes/layout/brand/dark5883.css?v=7.2.9" rel="stylesheet"
          type="text/css"/>
    <link href="assets/css/themes/layout/aside/dark5883.css?v=7.2.9" rel="stylesheet"
          type="text/css"/>        <!--end::Layout Themes-->

    <link rel="stylesheet" type="text/css" href="css/main.css">
    <link rel="stylesheet" type="text/css" href="css/responsive.css">
</head>
<body>
<header id="header">
    <div class="icon-bar">
        <span></span>
    </div>
    <nav id="wrap-menu">
        <ul>
            <li>
                <a href="#" class="btn btn-blue ">ĐĂNG NHẬP</a>
            </li>
            <li>
                <a href="#" class="btn btn-blue ">ĐĂNG KÝ</a>
            </li>
        </ul>
    </nav>
    <div class="container">
        <div class="row">
            <div class="col-md-3 col-sm-3">
                <div class="logo">
                    LOGO CÔNG TY
                </div>
            </div>
            <div class="col-md-9 col-sm-9">
                <div class="menu">
                    <ul>
                        <li>
                            <a href="#" class="btn btn-blue ">ĐĂNG NHẬP</a>
                        </li>
                        <li>
                            <a href="#" class="btn btn-blue ">ĐĂNG KÝ</a>
                        </li>
                    </ul>
                </div>

            </div>
        </div>
    </div>
</header>
<div id="main">
    <div class="container">
        <div class="list-filter">
            <div class="row">
                <div class="col-md-10 col-sm-10">
                    <div class="row">
                        <div class="col-md-15 col-sm-4 col-6">
                            <select class="form-control">
                                <option>Ngành nghề</option>
                                <option>1</option>
                                <option>2</option>
                                <option>3</option>
                            </select>
                        </div>
                        <div class="col-md-15 col-sm-4 col-6">
                            <select class="form-control">
                                <option>Ngành nghề</option>
                                <option>1</option>
                                <option>2</option>
                                <option>3</option>
                            </select>
                        </div>
                        <div class="col-md-15 col-sm-4 col-6">
                            <select class="form-control">
                                <option>Ngành nghề</option>
                                <option>1</option>
                                <option>2</option>
                                <option>3</option>
                            </select>
                        </div>
                        <div class="col-md-15 col-sm-4 col-6">
                            <select class="form-control">
                                <option>Ngành nghề</option>
                                <option>1</option>
                                <option>2</option>
                                <option>3</option>
                            </select>
                        </div>
                        <div class="col-md-15 col-sm-4 col-6">
                            <select class="form-control">
                                <option>Ngành nghề</option>
                                <option>1</option>
                                <option>2</option>
                                <option>3</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="col-md-2 col-sm-2">
                    <div class="d-flex align-content-center height-100">
                        <button type="submit" class="btn btn-sm btn-success">Tìm kiếm</button>
                    </div>
                </div>
            </div>
        </div>

        <div class="list-ungvien">
            <div class="card card-custom gutter-b">
                <div class="card-body">
                    <!--begin::Top-->
                    <div class="d-flex">
                        <!--begin::Pic-->
                        <div class="flex-shrink-0 mr-7">
                            <div class="symbol symbol-50 symbol-lg-120">
                                <img alt="Pic" src="images/a1.png">
                            </div>
                        </div>
                        <!--end::Pic-->

                        <!--begin: Info-->
                        <div class="flex-grow-1">
                            <!--begin::Title-->
                            <div class="d-flex align-items-center justify-content-between flex-wrap mt-2">
                                <!--begin::User-->
                                <div class="mr-3">
                                    <!--begin::Name-->
                                    <a href="#"
                                       class="d-flex align-items-center text-dark text-hover-primary font-size-h5 font-weight-bold mr-3">
                                        Nguyễn Văn A <i class="flaticon2-correct text-success icon-md ml-2"></i>
                                    </a>
                                    <!--end::Name-->

                                    <!--begin::Contacts-->
                                    <div class="d-flex flex-wrap my-2">
                                        <a href="#"
                                           class="text-muted text-hover-primary font-weight-bold mr-lg-8 mr-5 mb-lg-0 mb-2">
                                         <i class="flaticon-multimedia-2"></i> inffo@gmail.com
                                        </a>
                                        <a href="#" class="text-muted text-hover-primary font-weight-bold">
                                        <i class="flaticon2-map"></i> Hà Nội
                                        </a>
                                    </div>
                                    <!--end::Contacts-->
                                </div>
                                <!--begin::User-->

                                <!--begin::Actions-->
                                <div class="my-lg-0 my-1">
                                    <a href="#"
                                       class="btn btn-sm btn-light-primary font-weight-bolder text-uppercase mr-2">Xem</a>
                                    <a href="#"
                                       class="btn btn-sm btn-primary font-weight-bolder text-uppercase">Lưu</a>
                                </div>
                                <!--end::Actions-->
                            </div>
                            <!--end::Title-->
                            <!--begin::Content-->
                            <div class="d-flex align-items-center flex-wrap justify-content-between">
                                <!--begin::Description-->
                                <div class="flex-grow-1 font-weight-bold text-dark-50 py-2 py-lg-2 mr-5">
                                    I distinguish three main text objectives could be merely to inform people.<br>
                                    A second could be persuade people. You want people to bay objective.
                                </div>
                                <!--end::Description-->
                                <!--begin::Progress-->
                                <div class="d-flex mt-4 mt-sm-0">
                                    <span class="font-weight-bold mr-4">Kỹ năng</span>
                                    <div class="progress progress-xs mt-2 mb-2 flex-shrink-0 w-150px w-xl-250px">
                                        <div class="progress-bar bg-success" role="progressbar" style="width: 63%;"
                                             aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
                                    </div>
                                    <span class="font-weight-bolder text-dark ml-4">78%</span>
                                </div>
                                <!--end::Progress-->
                            </div>
                            <!--end::Content-->
                        </div>
                        <!--end::Info-->
                    </div>
                    <!--end::Top-->
                </div>
            </div>

            <div class="card card-custom gutter-b">
                <div class="card-body">
                    <!--begin::Top-->
                    <div class="d-flex">
                        <!--begin::Pic-->
                        <div class="flex-shrink-0 mr-7">
                            <div class="symbol symbol-50 symbol-lg-120">
                                <img alt="Pic" src="images/a2.jpg">
                            </div>
                        </div>
                        <!--end::Pic-->

                        <!--begin: Info-->
                        <div class="flex-grow-1">
                            <!--begin::Title-->
                            <div class="d-flex align-items-center justify-content-between flex-wrap mt-2">
                                <!--begin::User-->
                                <div class="mr-3">
                                    <!--begin::Name-->
                                    <a href="#"
                                       class="d-flex align-items-center text-dark text-hover-primary font-size-h5 font-weight-bold mr-3">
                                        Nguyễn Văn A <i class="flaticon2-correct text-success icon-md ml-2"></i>
                                    </a>
                                    <!--end::Name-->

                                    <!--begin::Contacts-->
                                    <div class="d-flex flex-wrap my-2">
                                        <a href="#"
                                           class="text-muted text-hover-primary font-weight-bold mr-lg-8 mr-5 mb-lg-0 mb-2">
                                            <i class="flaticon-multimedia-2"></i> inffo@gmail.com
                                        </a>
                                        <a href="#" class="text-muted text-hover-primary font-weight-bold">
                                            <i class="flaticon2-map"></i> Hà Nội
                                        </a>
                                    </div>
                                    <!--end::Contacts-->
                                </div>
                                <!--begin::User-->

                                <!--begin::Actions-->
                                <div class="my-lg-0 my-1">
                                    <a href="#"
                                       class="btn btn-sm btn-light-primary font-weight-bolder text-uppercase mr-2">Xem</a>
                                    <a href="#"
                                       class="btn btn-sm btn-primary font-weight-bolder text-uppercase">Lưu</a>
                                </div>
                                <!--end::Actions-->
                            </div>
                            <!--end::Title-->
                            <!--begin::Content-->
                            <div class="d-flex align-items-center flex-wrap justify-content-between">
                                <!--begin::Description-->
                                <div class="flex-grow-1 font-weight-bold text-dark-50 py-2 py-lg-2 mr-5">
                                    I distinguish three main text objectives could be merely to inform people.<br>
                                    A second could be persuade people. You want people to bay objective.
                                </div>
                                <!--end::Description-->
                                <!--begin::Progress-->
                                <div class="d-flex mt-4 mt-sm-0">
                                    <span class="font-weight-bold mr-4">Kỹ năng</span>
                                    <div class="progress progress-xs mt-2 mb-2 flex-shrink-0 w-150px w-xl-250px">
                                        <div class="progress-bar bg-success" role="progressbar" style="width: 63%;"
                                             aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
                                    </div>
                                    <span class="font-weight-bolder text-dark ml-4">78%</span>
                                </div>
                                <!--end::Progress-->
                            </div>
                            <!--end::Content-->
                        </div>
                        <!--end::Info-->
                    </div>
                    <!--end::Top-->
                </div>
            </div>

            <div class="card card-custom gutter-b">
                <div class="card-body">
                    <!--begin::Top-->
                    <div class="d-flex">
                        <!--begin::Pic-->
                        <div class="flex-shrink-0 mr-7">
                            <div class="symbol symbol-50 symbol-lg-120">
                                <img alt="Pic" src="images/a3.jpg">
                            </div>
                        </div>
                        <!--end::Pic-->

                        <!--begin: Info-->
                        <div class="flex-grow-1">
                            <!--begin::Title-->
                            <div class="d-flex align-items-center justify-content-between flex-wrap mt-2">
                                <!--begin::User-->
                                <div class="mr-3">
                                    <!--begin::Name-->
                                    <a href="#"
                                       class="d-flex align-items-center text-dark text-hover-primary font-size-h5 font-weight-bold mr-3">
                                        Nguyễn Văn A <i class="flaticon2-correct text-success icon-md ml-2"></i>
                                    </a>
                                    <!--end::Name-->

                                    <!--begin::Contacts-->
                                    <div class="d-flex flex-wrap my-2">
                                        <a href="#"
                                           class="text-muted text-hover-primary font-weight-bold mr-lg-8 mr-5 mb-lg-0 mb-2">
                                            <i class="flaticon-multimedia-2"></i> inffo@gmail.com
                                        </a>
                                        <a href="#" class="text-muted text-hover-primary font-weight-bold">
                                            <i class="flaticon2-map"></i> Hà Nội
                                        </a>
                                    </div>
                                    <!--end::Contacts-->
                                </div>
                                <!--begin::User-->

                                <!--begin::Actions-->
                                <div class="my-lg-0 my-1">
                                    <a href="#"
                                       class="btn btn-sm btn-light-primary font-weight-bolder text-uppercase mr-2">Xem</a>
                                    <a href="#"
                                       class="btn btn-sm btn-primary font-weight-bolder text-uppercase">Lưu</a>
                                </div>
                                <!--end::Actions-->
                            </div>
                            <!--end::Title-->
                            <!--begin::Content-->
                            <div class="d-flex align-items-center flex-wrap justify-content-between">
                                <!--begin::Description-->
                                <div class="flex-grow-1 font-weight-bold text-dark-50 py-2 py-lg-2 mr-5">
                                    I distinguish three main text objectives could be merely to inform people.<br>
                                    A second could be persuade people. You want people to bay objective.
                                </div>
                                <!--end::Description-->
                                <!--begin::Progress-->
                                <div class="d-flex mt-4 mt-sm-0">
                                    <span class="font-weight-bold mr-4">Kỹ năng</span>
                                    <div class="progress progress-xs mt-2 mb-2 flex-shrink-0 w-150px w-xl-250px">
                                        <div class="progress-bar bg-success" role="progressbar" style="width: 63%;"
                                             aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
                                    </div>
                                    <span class="font-weight-bolder text-dark ml-4">78%</span>
                                </div>
                                <!--end::Progress-->
                            </div>
                            <!--end::Content-->
                        </div>
                        <!--end::Info-->
                    </div>
                    <!--end::Top-->
                </div>
            </div>

            <div class="card card-custom gutter-b">
                <div class="card-body">
                    <!--begin::Top-->
                    <div class="d-flex">
                        <!--begin::Pic-->
                        <div class="flex-shrink-0 mr-7">
                            <div class="symbol symbol-50 symbol-lg-120">
                                <img alt="Pic" src="images/a1.png">
                            </div>
                        </div>
                        <!--end::Pic-->

                        <!--begin: Info-->
                        <div class="flex-grow-1">
                            <!--begin::Title-->
                            <div class="d-flex align-items-center justify-content-between flex-wrap mt-2">
                                <!--begin::User-->
                                <div class="mr-3">
                                    <!--begin::Name-->
                                    <a href="#"
                                       class="d-flex align-items-center text-dark text-hover-primary font-size-h5 font-weight-bold mr-3">
                                        Nguyễn Văn A <i class="flaticon2-correct text-success icon-md ml-2"></i>
                                    </a>
                                    <!--end::Name-->

                                    <!--begin::Contacts-->
                                    <div class="d-flex flex-wrap my-2">
                                        <a href="#"
                                           class="text-muted text-hover-primary font-weight-bold mr-lg-8 mr-5 mb-lg-0 mb-2">
                                            <i class="flaticon-multimedia-2"></i> inffo@gmail.com
                                        </a>
                                        <a href="#" class="text-muted text-hover-primary font-weight-bold">
                                            <i class="flaticon2-map"></i> Hà Nội
                                        </a>
                                    </div>
                                    <!--end::Contacts-->
                                </div>
                                <!--begin::User-->

                                <!--begin::Actions-->
                                <div class="my-lg-0 my-1">
                                    <a href="#"
                                       class="btn btn-sm btn-light-primary font-weight-bolder text-uppercase mr-2">Xem</a>
                                    <a href="#"
                                       class="btn btn-sm btn-primary font-weight-bolder text-uppercase">Lưu</a>
                                </div>
                                <!--end::Actions-->
                            </div>
                            <!--end::Title-->
                            <!--begin::Content-->
                            <div class="d-flex align-items-center flex-wrap justify-content-between">
                                <!--begin::Description-->
                                <div class="flex-grow-1 font-weight-bold text-dark-50 py-2 py-lg-2 mr-5">
                                    I distinguish three main text objectives could be merely to inform people.<br>
                                    A second could be persuade people. You want people to bay objective.
                                </div>
                                <!--end::Description-->
                                <!--begin::Progress-->
                                <div class="d-flex mt-4 mt-sm-0">
                                    <span class="font-weight-bold mr-4">Kỹ năng</span>
                                    <div class="progress progress-xs mt-2 mb-2 flex-shrink-0 w-150px w-xl-250px">
                                        <div class="progress-bar bg-success" role="progressbar" style="width: 63%;"
                                             aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
                                    </div>
                                    <span class="font-weight-bolder text-dark ml-4">78%</span>
                                </div>
                                <!--end::Progress-->
                            </div>
                            <!--end::Content-->
                        </div>
                        <!--end::Info-->
                    </div>
                    <!--end::Top-->
                </div>
            </div>

            <div class="card card-custom gutter-b">
                <div class="card-body">
                    <!--begin::Top-->
                    <div class="d-flex">
                        <!--begin::Pic-->
                        <div class="flex-shrink-0 mr-7">
                            <div class="symbol symbol-50 symbol-lg-120">
                                <img alt="Pic" src="images/a1.png">
                            </div>
                        </div>
                        <!--end::Pic-->

                        <!--begin: Info-->
                        <div class="flex-grow-1">
                            <!--begin::Title-->
                            <div class="d-flex align-items-center justify-content-between flex-wrap mt-2">
                                <!--begin::User-->
                                <div class="mr-3">
                                    <!--begin::Name-->
                                    <a href="#"
                                       class="d-flex align-items-center text-dark text-hover-primary font-size-h5 font-weight-bold mr-3">
                                        Nguyễn Văn A <i class="flaticon2-correct text-success icon-md ml-2"></i>
                                    </a>
                                    <!--end::Name-->

                                    <!--begin::Contacts-->
                                    <div class="d-flex flex-wrap my-2">
                                        <a href="#"
                                           class="text-muted text-hover-primary font-weight-bold mr-lg-8 mr-5 mb-lg-0 mb-2">
                                            <i class="flaticon-multimedia-2"></i> inffo@gmail.com
                                        </a>
                                        <a href="#" class="text-muted text-hover-primary font-weight-bold">
                                            <i class="flaticon2-map"></i> Hà Nội
                                        </a>
                                    </div>
                                    <!--end::Contacts-->
                                </div>
                                <!--begin::User-->

                                <!--begin::Actions-->
                                <div class="my-lg-0 my-1">
                                    <a href="#"
                                       class="btn btn-sm btn-light-primary font-weight-bolder text-uppercase mr-2">Xem</a>
                                    <a href="#"
                                       class="btn btn-sm btn-primary font-weight-bolder text-uppercase">Lưu</a>
                                </div>
                                <!--end::Actions-->
                            </div>
                            <!--end::Title-->
                            <!--begin::Content-->
                            <div class="d-flex align-items-center flex-wrap justify-content-between">
                                <!--begin::Description-->
                                <div class="flex-grow-1 font-weight-bold text-dark-50 py-2 py-lg-2 mr-5">
                                    I distinguish three main text objectives could be merely to inform people.<br>
                                    A second could be persuade people. You want people to bay objective.
                                </div>
                                <!--end::Description-->
                                <!--begin::Progress-->
                                <div class="d-flex mt-4 mt-sm-0">
                                    <span class="font-weight-bold mr-4">Kỹ năng</span>
                                    <div class="progress progress-xs mt-2 mb-2 flex-shrink-0 w-150px w-xl-250px">
                                        <div class="progress-bar bg-success" role="progressbar" style="width: 63%;"
                                             aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
                                    </div>
                                    <span class="font-weight-bolder text-dark ml-4">78%</span>
                                </div>
                                <!--end::Progress-->
                            </div>
                            <!--end::Content-->
                        </div>
                        <!--end::Info-->
                    </div>
                    <!--end::Top-->
                </div>
            </div>
        </div>

        <div class="d-flex justify-content-between align-items-center flex-wrap">
            <div class="d-flex flex-wrap py-2 mr-3">
                <a href="#" class="btn btn-icon btn-sm btn-light mr-2 my-1"><i class="ki ki-bold-double-arrow-back icon-xs"></i></a>
                <a href="#" class="btn btn-icon btn-sm btn-light mr-2 my-1"><i class="ki ki-bold-arrow-back icon-xs"></i></a>
                <a href="#" class="btn btn-icon btn-sm border-0 btn-light mr-2 my-1">...</a>
                <a href="#" class="btn btn-icon btn-sm border-0 btn-light mr-2 my-1">23</a>
                <a href="#" class="btn btn-icon btn-sm border-0 btn-light btn-hover-primary active mr-2 my-1">24</a>
                <a href="#" class="btn btn-icon btn-sm border-0 btn-light mr-2 my-1">25</a>
                <a href="#" class="btn btn-icon btn-sm btn-light mr-2 my-1"><i class="ki ki-bold-arrow-next icon-xs"></i></a>
                <a href="#" class="btn btn-icon btn-sm btn-light mr-2 my-1"><i class="ki ki-bold-double-arrow-next icon-xs"></i></a>
            </div>
        </div>

    </div>
</div>

<footer>
    <div class="info_footer">
        <div class="container">
            <div class="row">
                <div class="col-md-3 col-sm-3 col-12">
                    <p>Công ty : .............</p>
                </div>
                <div class="col-md-3 col-sm-3 col-12">
                    <p>Số điện thoại : 09661773xxxx</p>
                </div>
                <div class="col-md-3 col-sm-3 col-12">
                    <p>Zalo : 09661773xxxx</p>
                </div>
                <div class="col-md-3 col-sm-3 col-12">
                    <p>Fanpage : <a href="#">link fanpage</a></p>
                </div>
            </div>
        </div>
    </div>
</footer>

</body>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
<script src="js/main.js"></script>
<!--begin::Global Theme Bundle(used by all pages)-->
<script src="assets/plugins/global/plugins.bundle5883.js?v=7.2.9"></script>
<script src="assets/plugins/custom/prismjs/prismjs.bundle5883.js?v=7.2.9"></script>
<!--end::Global Theme Bundle-->
</html>
